
#contactHead {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: $text-header;
    background-color: $div-background-orange;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    margin: 0 auto 50px auto;
}


.contact {
    margin: 80px auto;
    background-color: $div-background-creme;
    border-radius: 20px;
    border: 10px solid $div-background-blue;
    box-sizing: border-box;
    padding: 10px;

}

.contact>div {
    margin: auto;
    position: relative;

    .contact-left,
    .contact-right {
        // border: 1px solid black;
        border-radius: 5px;
        background-color: $div-background-creme;

        margin: auto;
        width: 50%;
        height: fit-content;
        text-align: center;
    }
}

.contact-left {
    padding: 50px 50px 100px 50px;

    h5 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
        color: $text-header;
    }

    button {
        padding: 10px 20px;
        margin: 10px;
        border-radius: 50px;
        background-color: $div-background-orange;
        border: none;

        a {
            text-decoration: none;
            color: inherit;

        }

        &:hover {
            color: $div-background-creme;
            background-color: $div-background-blue;
        }
    }

    span {
        display: none;
    }
}

.contact-right {
    padding: 50px 0;
}

form {
    width: 80%;
    margin: auto;

    input,
    textarea,
    button {
        margin: 10px 0;
        width: 100%;
        border-radius: 10px;
        border: 3px solid $div-background-green;
        background-color: $div-background-creme;
        padding: 10px;
        color: gray;

    }
}


@media only screen and (max-width: 760px) {
    .contact {
        width: 90%;
    }
    
    .contact>div {
        margin: auto;
        position: relative;
        .contact-left,
        .contact-right {
            width: 100%;
        }
    }
    .contact-left {
        padding: 50px;
    }

    .contact-right {
        padding-top:0;
    }
}

