// 區塊標題標籤的RWD統整>>

@media only screen and (max-width: 992px) {

    #skillHead, #traitHead, 
    #expHead, #workHead,
    #contactHead {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media only screen and (max-width: 450px) {
    #skillHead, #traitHead, 
    #expHead, #workHead,
    #contactHead {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

// 區塊標題標籤的RWD統整<<