#traitHead {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: $text-header;
    background-color: $div-background-orange;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 100px;
    margin: 20px auto 80px auto;
}

#secTraits {
    // border: solid 1px black;
    margin: 0px auto;
    padding: 50px;
}

.traitCard {
    // width: 326px;
    height: 320px;
    text-align: left;
    padding: 50px;
    display: flex;
    align-items: center;

    &:nth-of-type(1) {
        background-color: $div-background-creme;
    }

    &:nth-of-type(3) {
        background-color: $div-background-orange;
    }

    &:nth-of-type(6) {
        background-color: $div-background-green;
    }

    &:nth-of-type(8) {
        background-color: $div-background-blue;
    }

    &:nth-of-type(2) {
        background-image: url(../media/traits_001.png);
        background-color: $body-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &:nth-of-type(4) {
        background-image: url(../media/traits_002.png);
        background-color: $body-color;
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 160%;
    }

    &:nth-of-type(5) {
        background-image: url(../media/traits_003.png);
        background-color: $body-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 160%;
    }

    &:nth-of-type(7) {
        background-image: url(../media/traits_004.png);
        background-color: $body-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 190%;
    }

    span {
        // margin: 50px auto 10px auto;    
        font-size: 25px;
        color: $text-header;
        font-weight: 600;
    }

    p {
        margin: 20px;
        text-align: left;
        text-indent: 10px;
        font-size: 18px;
        font-style: italic;
        color: $text-paragraph;
    }
}

// @media only screen and (max-width: 992px) {


// }

// @media only screen and (max-width: 630px) {


// }

@media only screen and (max-width: 576px) {

    #secTraits {
        margin-top: 20px;
    }

    .traitCard {
        // width: 326px;
        // height: 320px;
        padding: 10px;
        display: flex;
        align-items: center;

        span {
            font-size: 20px;
            text-align: center;
        }

        &:nth-of-type(2) {
            background-position: center;
            background-size: 150%;
        }

        &:nth-of-type(4) {
            background-position: right bottom;
            background-size: 240%;
        }

        &:nth-of-type(5) {
            background-position: left;
            background-size: 250%;
        }

        &:nth-of-type(7) {
            background-position: center;
            background-size: 300%;
        }
    }

}