#workHead,#toResume  {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: $text-header;
    background-color: $div-background-orange;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 100px;
    margin: 20px auto 50px auto;
    display: block;
    border: none;
    text-decoration: none;
}

#secWork {
    // border: solid 1px black;
    margin: auto;
    padding: 20px 20px 50px 20px;
}

.cl-btn{
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 3px solid $div-background-green;
    background-color: $div-background-green;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: $div-background-creme;
    margin: 10px auto;
    width: 40%;
}

.cl-btn:hover{
    border-color: $div-background-green;
    background-color: $div-background-creme;
    color: $div-background-green;
}

.workCardFoot{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.workCard {
    margin: 10px auto;
    width: 30%;
    padding: 10px;
    h4 {
        font-size: 22px;
        font-weight: 600;
        color: $text-header;
        margin: 15px auto 0 auto;
        width: fit-content;
        border-bottom: 3px dashed $div-background-orange;
    }
    p {
        text-align: left;
        text-indent: 10px;
        padding: 10px 10px 0px 10px;
    }
}
.workImg:hover{
    opacity: 50%;
}



.workCard:nth-of-type(1) {
    background-color: $div-background-creme;
    border-radius: 10px;
    text-align: center;
    .workImg {
        display: block;
        margin: 15px auto;
        height: fit-content;
        border-radius: 5px;
    }
    #tools {
        // height: 100px;
        border-radius: 10px;
        padding-top: 20px;
        // border: 2px dashed $div-background-orange;
        div {
            // border: 1px solid green;
            width: 50px;
            height: 50px;
            display: inline-block;
            margin: 10px;
            &:nth-child(1){
                background-image: url(../media/html.svg);
                
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(2){
                background-image: url(../media/css.svg);
                
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(3){
                background-image: url(../media/js.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(4){
                background-image: url(../media/logo.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(5){
                background-image: url(../media/bootstrap.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(6){
                background-image: url(../media/jquery.svg);
               
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    
}

.workCard:nth-child(2) {
    background-color: $div-background-blue;
    border-radius: 10px;
    text-align: center;
    .workImg {
        display: block;
        margin: 15px auto;
        height: fit-content;
        border-radius: 5px;
    }
    h4 {
        border-bottom: 3px dashed $div-background-green;
    }
    #tools {
        // height: 100px;
        border-radius: 10px;
        padding-top: 20px;
        // border: 2px dashed $div-background-orange;
        div {
            // border: 1px solid green;
            width: 50px;
            height: 50px;
            display: inline-block;
            margin: 10px;
            &:nth-child(1){
                background-image: url(../media/html.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(2){
                background-image: url(../media/css.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(3){
                background-image: url(../media/js.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.workCard:nth-child(3) {
    background-color: $div-background-creme;
    border-radius: 10px;
    text-align: center;
    .workImg {
        display: block;
        margin: 15px auto;
        height: fit-content;
        border-radius: 5px;
    }
    #tools {
        // height: 100px;
        border-radius: 10px;
        padding-top: 20px;
        // border: 2px dashed $div-background-orange;
        div {
            // border: 1px solid green;
            width: 50px;
            height: 50px;
            display: inline-block;
            margin: 10px;
            &:nth-child(1){
                background-image: url(../media/html.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(2){
                background-image: url(../media/css.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(3){
                background-image: url(../media/js.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(4){
                background-image: url(../media/bootstrap.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(5){
                background-image: url(../media/jquery.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(6){
                background-image: url(../media/nodejs.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(7){
                background-image: url(../media/mysql.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(8){
                background-image: url(../media/git.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &:nth-child(9){
                background-image: url(../media/github.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    
}

@media only screen and (max-width: 1200px) {
    .workCard {
        margin: 40px;
        width: 40%;
    }


}

@media only screen and (max-width: 992px) {
    .workCard {
        margin: 40px;
        width: 40%;
    }


}

@media only screen and (max-width: 836px) {

    .workCard {
        margin: 10px auto;
        width: 40%;
    }

}

@media only screen and (max-width: 770px) {
    .workCard {
        margin: 20px auto;
        width: 70%;
    }

}

@media only screen and (max-width: 650px) {
    .workCard {
        margin: 20px auto;
        width: 80%;
    }


}

@media only screen and (max-width: 530px) {
    .workCard {
        margin: 20px;
        width: 90%;
    }
}